<section class="article">
  <div class="article__header">
    <h2 class="article__theme"><a href="">Тюнинг</a></h2>
    <div class="article__date">25.09.2019</div>
    <ul class="article__tags">
      <li class="article__tag"><a href="">крыло</a></li>
      <li class="article__tag"><a href="">бампер</a></li>
      <li class="article__tag"><a href="">двери</a></li>
      <li class="article__tag"><a href="">фары</a></li>
    </ul>
    <h1 class="article__title">Тюнинг крыла</h1>
  </div>
</section>