<section class="articles layout--mb">
  <div class="container">
    <div class="search-article__title">
      <span class="search-article__text articles__block-title">
        Последние статьи
      </span>
    </div>
    <div class="articles__list">
      <div class="articles__item">
        <div class="articles__badge">Тюнинг</div>
        <div class="articles__img-wrapper">
          <img src="img/article-308x176.jpg" alt="article" class="articles__img">
        </div>
        <div class="articles__caption">
          <div class="articles__date">25.02.2019</div>
          <div class="articles__title">Тюнинг крыла</div>
          <div class="articles__desc">
            Равным образом дальнейшее развитие
            различных форм деятельности влечет
            за собой процесс внедрения
            и модернизации соответствующий.
          </div>
          <div class="articles__link">
            <a href="article.html" class="articles__btn" title="Читать далее ">Читать далее</a>
          </div>
        </div>
      </div>
      <div class="articles__item">
        <div class="articles__badge">Тюнинг</div>
        <div class="articles__img-wrapper">
          <img src="img/article-308x176.jpg" alt="article" class="articles__img">
        </div>
        <div class="articles__caption">
          <div class="articles__date">25.02.2019</div>
          <div class="articles__title">Тюнинг крыла</div>
          <div class="articles__desc">
            Равным образом дальнейшее развитие
            различных форм деятельности влечет
            за собой процесс внедрения
            и модернизации соответствующий.
          </div>
          <div class="articles__link">
            <a href="article.html" class="articles__btn" title="Читать далее ">Читать далее</a>
          </div>
        </div>
      </div>
      <div class="articles__item">
        <div class="articles__badge">Тюнинг</div>
        <div class="articles__img-wrapper">
          <img src="img/article-308x176.jpg" alt="article" class="articles__img">
        </div>
        <div class="articles__caption">
          <div class="articles__date">25.02.2019</div>
          <div class="articles__title">Тюнинг крыла</div>
          <div class="articles__desc">
            Равным образом дальнейшее развитие
            различных форм деятельности влечет
            за собой процесс внедрения
            и модернизации соответствующий.
          </div>
          <div class="articles__link">
            <a href="article.html" class="articles__btn" title="Читать далее ">Читать далее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>