<form action="" class="form">
  <div class="form__group">
    <input type="email" class="form__input form__field" id="form-mail" name="mail" autocomplete="off">
    <label class="form__label" for="form-mail">Ваш E-Mail</label>
    <span class="form__warn">Пожалуйста введите Ваш E-Mail</span>
  </div>

  <div class="form__group">
    <input type="text" class="form__input form__field" id="form-subject" name="subject" autocomplete="off">
    <label class="form__label" for="form-subject">Тема сообщения</label>
    <span class="form__warn">Укажите тему</span>
  </div>
  <div class="form__group">
    <textarea type="text" class="form__textarea form__field" id="form-message" rows="4" name="msg"></textarea>
    <label class="form__label" for="form-message">Ваше сообщение</label>
    <span class="form__warn">Сообщение должно быть не короче 80 символов</span>
  </div>
  <div class="form__group">
    <button class="btn btn--main form__btn" type="submit">Отправить</button>
  </div>
</form>