<section class="hero__wrapper layout--mb">
  <div class="hero">
    <div class="container">
      <div class="hero__caption">
        <h1 class="seo seo__h1">
  SMART
  <span class="seo seo__h1--add">Roadster</span>
        </h1>
        <p class="seo seo__text">
  Более 500 статей от профессионалов на различные темы
  по ремонту, обслуживанию и о многом другом.
        </p>
        <div class="hero__btn">
          <a href="" class="btn btn--main">Поиск</a>
        </div>
      </div>
    </div>
  </div>
</section>