<section class="search-article layout--mb">
  <div class="container">
    <div class="search-article__title">
      <span class="search-article__text">Поиск статей</span> 
    </div>
    <div class="search-article__form">
      <button class="search-article__btn" aria-label="Искать">
        //= search-icon.html
      </button>
      <div class="search-article__search">
        <input type="text" class="search-article__input" placeholder="Введите ключевое слово" aria-label="Введите ключевое слово">
      </div>  
    </div>
  </div>
</section>