
<section class="service">
  <div class="container">
    <div class="service__item service__item--red">
      <div class="service__title">Тюнинг крыла</div>
      <div class="service__desc">
        Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий.
      </div>
      <div class="service__link service__link--white">
        <a href="article.html" class="articles__btn service__btn--right" title="Читать далее ">Читать далее</a>
      </div>
      <img src="img/roadster-367x165.png" alt="Roadster" class="service__img service__img--left">
    </div>
    <div class="service__item service__item--white">
      <div class="service__title">Тюнинг крыла</div>
      <div class="service__desc">
        Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации
        соответствующий.
        Дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации
        соответствующий.
      </div>
      <div class="service__link">
        <a href="article.html" class="articles__btn service__btn--left" title="Читать далее ">Читать далее</a>
      </div>
      <img src="img/roadster2-317x112.png" alt="Roadster" class="service__img service__img--right">
    </div>
  </div>
</section>