.articles {
  .container {
    flex-direction: column;
    @media (min-width:768px) {
      flex-direction: row;
    }   
  }
  &__list {
    flex-wrap: wrap;
    justify-content: stretch;
     flex: 1;
  }
  &__block-title {
    align-items: flex-start;
    padding-top: rem(18);
    height: rem(68);
    max-height: rem(68);
    color: $main;
    font-weight: 600;
  }
  &__item {
    flex-grow: 1;
    margin-bottom: rem(24);
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 2px 3px 3px rgba(20, 19, 20, .15);
    position: relative;
    transition: $hover-transition;
    @media (min-width: 420px) {
      flex: 0 1 rem(308);
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 667px) {
      margin-left: 0;
      margin-right: auto;
      margin-bottom: rem(25);
      flex: 0 1 49%;
      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @media (min-width: 1024px) {
      &:last-child {
        margin-right: 0;
      } 
      &:nth-child(even) {
        margin-right: auto;
      }     
      flex: 1 1 32%;
      max-width: 32%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &:hover {
      transform: translateX(0) translateY(-1px);
      box-shadow: 2px 4px 5px rgba(20, 19, 20, .25);
      cursor: default;
      .articles__img {
        //transform: scale(1.001);
        filter: saturate(0.75) sepia(.45);
      }
      .articles__badge {
        transform: translateX(1px) translateY(-1px);
      }
    } 
  }
  &__badge {
    font-family: $font-bold;
    position: absolute;
    top: rem(8);
    left: rem(-5);
    font-size: rem(12);
    line-height: rem(20);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    height: rem(20);
    background: rgb(232, 35, 39);
    padding: 0 rem(23);
    z-index: 1;
    transition: $hover-transition;
    //transform: translateZ(12px);
    box-shadow: 2px 4px 5px rgba(232, 35, 39, .15);
  }
  &__img {
    &-wrapper {
      width: 100%;
      height: auto;
      overflow: hidden;
      max-width: 100%;
    }
    width: 100%;
    height: auto;
    transition: $hover-transition;
    overflow: hidden;
  }

  &__caption {
    flex-direction: column; 
    padding: rem(28) rem(30);
  }

  &__date {
    font-family: $font; 
    font-size: rem(12);
    line-height: 2;
    margin-bottom: rem(10); 
  }

  &__title {
    font-family: $font-bold; 
    font-size: rem(18);
    line-height: rem(24);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rem(10); 
  }

  &__desc {
    font-family: $font; 
    font-size: rem(12);
    line-height: 2;    
    margin-bottom: rem(30); 
  }
  &__link {
    color: $main;
  }
  &__btn {
    font-family: $font-bold; 
    font-size: rem(12);
    line-height: rem(20); 
    padding: 0;
    position: relative;
    &:after {
      position: absolute;
      content: ' →';
      font-size: rem(12);
      font-weight: 700;
      top:  0;
      right: -1.25rem;
      width: 1rem;
      height: 2rem;
      transition: $hover-transition;
    }
    &:hover {
      cursor: pointer;
      outline: none;
      &:after {
        animation: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes arrow {
  0% {
    transform: scaleX(1) translateX(0);
  }
  50% {
    transform: scaleX(1.25) translateX(4px);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }    
}