.logo {
  align-items: center;
  white-space: nowrap;
  font-family: $font-bold;
  font-size: rem(16);
  line-height: rem(28);
  color: $dark;
  font-weight: 900;
  text-transform: uppercase;

  &__accent {
    color: $main;
  }
}