.service {
  flex-wrap: wrap;
  max-width: rem(1170);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  overflow: hidden;
  @media (min-width: 768px) {
    margin-bottom: 5rem;
  }
  .container {
    justify-content: stretch;
  }
  &__img {
    max-height: 100%;
    width: 75%;
    transition: $hover-transition;
    transform: translate3d(0,0,8px);
    perspective: 5px;
    position: absolute;
    &--right {
      max-width: 317px;
      right: -2rem;
      bottom: -2rem;
    }
    &--left {
      left: -1rem;
      bottom: -2rem;
      max-width: 367px;
    }
  }

  &__item {
    width: 100%;
    box-shadow: 2px 3px 3px rgba(20,19,20,.15);
    transition: $hover-transition;
    margin-bottom: rem(70);
    position: relative;
    @media (min-width: 768px) {
      &:nth-child(odd)  {
        margin-right: $gutter;
      }
      &:nth-child(even) {
        margin-left: $gutter;
      }

      margin-bottom: rem(24);
      flex: 0 1 calc(50% - #{$gutter});
    }
    flex-direction: column;
    padding: rem(40) rem(30);
    box-sizing: border-box;
    min-height: rem(292);
    @media (min-width: 768px) {
      &:hover {
        transform: translateX(0) translateY(-1px);
        box-shadow: 2px 4px 5px rgba(20, 19, 20, .25);
        cursor: default;
        .service__img {
          transform: scale(1.01);
        }
      }

    }

    &--red {
      background: $main;
      color: #fff;
    }
    &--white {
      background: #fff;
    }
  }
  &__title {
    font-family: $font-medium;
    transform: translateZ(12px);
    text-shadow: 1px 1px 3px rgba(0,0,0,.15);
    font-size: rem(30);
    line-height: rem(24);
    margin-bottom: rem(26);
    text-transform: uppercase;
  }

  &__desc {
    font-size: rem(13);
    line-height: rem(20);
    margin-bottom: rem(40);
    white-space: unset;
  }

  &__link {
    color: $main;
    margin-bottom: 2rem;
    &--white {
      color: #fff;
    }
  }

  &__btn--right {
    margin-right: 2rem;
    margin-left: auto;
  }
  &__btn--left {
    margin-left: 0;
    margin-right: auto;
  }
}
